<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700;800&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/8782bd1583.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles/normalize.css" />
    <link rel="stylesheet" href="/static/styles/status-styles.css" />
    <link id="favicon" rel="shortcut icon" href="/static/ico/favicon.ico" type="image/x-icon" />
    <title>Alpura</title>
</head>

<body>
    <header class="header">
        <img class="logo-header" src="/static/images/LOGO ALPURA PROYECTO.png" alt="logo" />
        <h1 class="titulo-header">Gestion de empleado de Alpura</h1>
    </header>
    <main class="status-desing">
        <section class="personal-inf-left">
            <div class="body-info">
                <table class="table-info">
                    <tr>
                        <th>NOMBRES: <output name="id" id="id" type="text" class="info-out"></output> </th>
                    </tr>
                    <tr>
                        <th>APELLIDOS: <output id="contract_type" type="text" class="info-out"></output> </th>
                    </tr>
                    <tr>
                        <th>TIPO DE DOCUMENTO: <output id="stdate" type="text" class="info-out"></output></th>
                    </tr>
                    <tr>
                        <th>NUMERO DE DOCUMENTO: <output id="endate" type="text" class="info-out"></output></th>
                    </tr>
                    <tr>
                        <th>TIPO DE CONTRATO: <output id="position" type="text" class="info-out"></output></th>
                    </tr>
                    <tr>
                        <th>FECHA DE INGRESO: <output id="team" type="text" class="info-out"></output></th>
                    </tr>
                    <tr>
                        <th>FECHA DE TERMINO: <output id="salary" type="text" class="info-out"></output></th>
                    </tr>
                    <tr>
                        <th>CARGO: <output id="salary" type="text" class="info-out"></output></th>
                    </tr>
                    <tr>
                        <th>DEPENDENCIA: <output id="salary" type="text" class="info-out"></output></th>
                    </tr>
                    <tr>
                        <th>SALARIO DEVENGADO: <output id="salary" type="text" class="info-out"></output></th>
                    </tr>
                    <tr>
                        <th>DESEMPEÑO ACTUAL: <output id="salary" type="text" class="info-out"></output></th>
                    </tr>
                </table>
            </div>
        </section>
        <section class="options">
            <div class="add-picture">
                <h1>AGREGAR IMAGEN</h1>
            </div>
            <div class="add-picture-button">
                <button class="btn-add-picture" type="submit"> <a href="aqui va la ventana que se abre para seleccionar la imagen">Insertar Imagen</a></button>
            </div>
            <div class="save">
                <button class="btn-save" type="submit"> <a href="/templates/menu_administrador.html">Guardar</a></button>
            </div>
        </section>
    </main>
</body>

</html>