<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700;800&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/8782bd1583.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles/normalize.css" />
    <link rel="stylesheet" href="/static/styles/status-styles.css" />
    <link id="favicon" rel="shortcut icon" href="/static/ico/favicon.ico" type="image/x-icon" />
    <title>Alpura</title>
</head>

<body>
    <header class="header">
        <img class="logo-header" src="/static/images/LOGO ALPURA PROYECTO.png" alt="logo" />
        <h1 class="titulo-header">Gestion de empleado de Alpura</h1>
    </header>
    <main class="status-desing">
        <section class="personal-inf-left">
            <div class="hearder-info">
                <h1>BUSCAR EMPLEADO</h1>
                <p>
                    BUSQUEDA POR APELLIDO: <input type="search" name="busquedacodigo" pattern="[A-Za-z]{8,20}"
                        title="Un código válido consiste en una cadena con 8 a 20 caracteres, cada uno de los cuales es una letra"
                        required>
                    <input type="submit" value="Buscar" size="50">
                </p>
            </div>
            <div class="body-info">
                <p>
                    BUSQUEDA POR DOCUMENTO: <input type="search" name="busquedacodigo" pattern="[0-9]{8,20}"
                        title="Un código válido consiste en una cadena con 8 a 20 caracteres, cada uno de los cuales es un dígito"
                        required>
                    <input type="submit" value="Buscar">
                </p>
                <table class="table-results">
                    <h1>RESULTADOS</h1>
                    <tr>
                        <th><output for=name="id" id="nombres" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="apellidos" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="tipo_documento" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="numero_documento" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="tipo_contrato" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="fecha_ingreso" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="fecha_termino" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="cargo" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="dependencia" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="salario_devengado" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="desempeño_actual" type="text" class="info-out"></output><input
                                type="submit" value="Editar" size="10"></th>
                    </tr>
                    <tr>
                        <th><output for=name="id" id="nombres" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="apellidos" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="tipo_documento" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="numero_documento" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="tipo_contrato" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="fecha_ingreso" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="fecha_termino" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="cargo" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="dependencia" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="salario_devengado" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="desempeño_actual" type="text" class="info-out"></output><input
                                type="submit" value="Editar" size="10"></th>
                    </tr>
                    <tr>
                        <th><output for=name="id" id="nombres" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="apellidos" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="tipo_documento" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="numero_documento" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="tipo_contrato" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="fecha_ingreso" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="fecha_termino" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="cargo" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="dependencia" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="salario_devengado" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="desempeño_actual" type="text" class="info-out"></output><input
                                type="submit" value="Editar" size="10"></th>
                    </tr>
                    <tr>
                        <th><output for=name="id" id="nombres" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="apellidos" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="tipo_documento" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="numero_documento" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="tipo_contrato" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="fecha_ingreso" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="fecha_termino" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="cargo" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="dependencia" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="salario_devengado" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="desempeño_actual" type="text" class="info-out"></output><input
                                type="submit" value="Editar" size="10"></th>
                    </tr>
                    <tr>
                        <th><output for=name="id" id="nombres" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="apellidos" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="tipo_documento" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="numero_documento" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="tipo_contrato" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="fecha_ingreso" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="fecha_termino" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="cargo" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="dependencia" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="salario_devengado" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="desempeño_actual" type="text" class="info-out"></output><input
                                type="submit" value="Editar" size="10"></th>
                    </tr>
                    <tr>
                        <th><output for=name="id" id="nombres" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="apellidos" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="tipo_documento" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="numero_documento" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="tipo_contrato" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="fecha_ingreso" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="fecha_termino" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="cargo" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="dependencia" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="salario_devengado" type="text" class="info-out"></output></th>
                        <th><output for=name="id" id="desempeño_actual" type="text" class="info-out"></output><input
                                type="submit" value="Editar" size="10"></th>
                    </tr>
                </table>
            </div>
        </section>
        <section class="personal-inf-right">
            <div class="main-menu">
                <button class="btn-main-menu" type="submit"> <a href="/templates/menu_administrador.html">Menu Principal</a></button>
            </div>
        </section>
    </main>
</body>
</html>