<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700;800&display=swap"
      rel="stylesheet"
    /> 
    <script
      src="https://kit.fontawesome.com/8782bd1583.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/styles/normalize.css" />
    <link rel="stylesheet" href="/static/styles/status-styles.css" />
    <link
      id="favicon"
      rel="shortcut icon"
      href="/static/ico/favicon.ico"
      type="image/x-icon"
    />
    <title>Alpura</title>
  </head>
  <body>
    <header class="header">
      <img
        class="logo-header"
        src="/static/images/LOGO ALPURA PROYECTO.png"
        alt="logo"
      />
      <h1 class="titulo-header">Gestion de empleado de Alpura</h1>
    </header>
    <main class="status-desing">
      <section class="personal-inf-left">
        <div class="hearder-info">
          <img id="foto-de-perfil" src="/static/images/foto empleado.png" alt="foto-de-perfil" />
          <h2 id="nombre-perfil">Eder rodriguez</h2>
        </div>
        <div class="body-info">
          <table class="table-info">
            <tr>
              <th>Documento : <output name="id" id="id" type="text" class="info-out" ></output>  </th>
            </tr>
            <tr>
              <th>Tipo de Contrato : <output id="contract_type" type="text" class="info-out"></output> </th>
            </tr>
            <tr>
              <th>Fecha de Ingreso : <output  id="stdate" type="text" class="info-out" ></output></th>
            </tr>
            <tr>
              <th>Fecha de Termino : <output id="endate" type="text" class="info-out"></output></th>
            </tr>
            <tr>
              <th>Cargo : <output id="position" type="text" class="info-out"></output></th>
            </tr>
            <tr>
              <th>Dependencia : <output id="team" type="text" class="info-out"></output></th>
            </tr>
            <tr>
              <th>Salario Devengado : <output id="salary" type="text" class="info-out"></output></th>
            </tr>
          </table>
        </div>
      </section>
      <section class="personal-inf-right">
        <div class="Summary-desempeño">
          <details> 
            <summary>Desempeño</summary> 
            <dl> 
              <dt><output name="" id="id" type="text" class="desempeño-out" ></output>enero</dt> 
                <dd> 98</dd> 
              <dt>Febrero</dt> 
                <dd>88</dd> 
              <dt>Marzo</dt> 
                <dd>88</dd> 
              <dt>Abril</dt> 
                <dd>99</dd> 
            </dl> 
           </details>
        </div>
        <div class="close-sesion">
          <button class="btn-close-sesion" type="submit"> <a href="/index.html">Cerrar Sesion</a></button>
        </div>
      </section>
    </main>
  </body>
</html>
